<%= logged_in ? "Github Token #{github_token}" : "<a href='auth/github'>Sign in via Github</a>" %>
<br>
  <% if !jira_confirmed %>
    <a href='auth/JIRA'>Confirm JIRA</a>
  <% else %>
    JIRA Token <%= jira_token %>
  <br>
  <a href='/PeopleAdmin/hr_suite/pending/production/master'>Master</a>
  <br>
  <a href='/PeopleAdmin/hr_suite/pending/production/release'>Release</a>
<% end %>
