<% if github_authenticated? %>
  <h2>Welcome,  <%= current_user.name %></h2>
  <% if !current_user.jira_authenticated? %>
    <a href='auth/JIRA'>Sign in to JIRA</a>
  <% else %>
    Identified as JIRA user: <%= current_user.jira_username %>
  <br>
  <h3>View potential deploys</h3>
  <ul class="unstyled">
    <li>Changes in <a href='/PeopleAdmin/hr_suite/changes/production/master'>Master</a> branch</li>
    <li>Changes in <a href='/PeopleAdmin/hr_suite/changes/production/release'>Release</a> branch</li>
  </ul>
<% end %>
<% else %>
  <a href='auth/github'>Sign in via Github</a>
<% end %>
